/* Auth pages */
.sign-bg{
    background: url('../../assets//curly-woman-great-mood-dancing-purple-wall.jpg') ;
    background-size: cover;
    background-position:center;
}
/* 404 Error Page */
.notfound{
    width: 30%;
}
.notfound img{
    width: 100%;
}
.error{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.error .notfound h6 a{
    color: blue ;
    font-size: 0.8rem;
}
.error .notfound h6{
    text-align: center;
}
