.contact__area{
    margin: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact__text{
    width: 40%;
}
.form .names{
    display: flex;
    margin-bottom: 0.8rem;
}
.form input{
    padding: 0.5rem;
    margin-right: 2rem;
    border: none;
    border-bottom: 1px solid var(--color-main);
    border-left: 1px solid var(--color-main);
}
.form input::placeholder{
    color: var(--color-main);
}
.form label{
    font-weight: 600;
    font-size: 0.8rem;
    color: black;
}
.form textarea{
    width: 28rem;
    height: 7rem;
    padding: 0.5rem;
    border: 1px solid black;
    
}
.form button{
    background: var(--color-main);
    color:white;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    margin-top: -0.2rem;
}
@media screen and (max-width:1200px){
    .contact__area{
        margin-left: 5rem;
        margin-right: 0;
    }
    .contact__text{
        width: 30%;
    }
    
}
@media screen and (max-width:900px){
    .contact__area{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact__text{
        width: 80%;
        margin-bottom: 2em;
    }
    .contact__area .names{

    }
}
@media screen and (max-width:900px){
    .contact__area .names{
        flex-direction: column;
        
    }
    .contact__area{
        margin-left: 2rem;
    }
    .contact__text{
        width: 100%;
        margin-bottom: 2em;
    }
    .contact__area button{
        margin-top: 1rem;
        
    }
}