.services{
    background: #F2F3FA;
    border-radius: 50px;
    width: 60%;
    min-height: 50vh;
    margin-left: 20%;
    margin-top: 5rem;
    box-shadow: 0px 4px 4px 0px grey;
    padding-top: 3rem;
    padding-left:4rem;
    padding-right:4rem;
    font-family: 'poppins';
}
.list{
    color:black;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    
}
.item{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-bottom: 1.5em;
}
.item .icon{
    background-color: #FFFFFF;
    clip-path: circle();
    width: 20rem;
    height: 20rem;
    margin-top: -2rem;
    margin-left:-8px ;
    box-shadow: 2px 2px 4px 0px #000000;
}
.item  svg{
   width: 5rem;
   color: var(--color-main);
}
.item__text{
    padding-left: 10px;
}
.item__text h5 {
    color: var(--color-main);
}
.item__text h6{
    margin-top: 5px;
    font-weight: 600;
}
@media screen and (max-width:1050px) {
    
}
@media screen and (max-width: 650px){
    .services{
        width: 100%;
        margin: 0;
        margin-top: 3rem;
        padding: 1rem;
        padding-top: 2rem;
        border-radius: 0;
        box-shadow: none;
    }
    .item__text{
       padding: 0;
    }
    .item__text h5 {
       font-size: 0.6rem;
    }
    .item{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }
    .icon{
        margin-bottom: 1rem;
        margin-left: -3rem;
    }
}