.fund{
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 10%;
    font-size: 0.9rem;
    font-family: 'poppins';
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.fund__text-left, .fund__text-right{
    width: 40%;
}
.fund__text-left{
    font-size: 0.9rem;
    padding-right: 2rem;
}
.fund__text-left li{
    list-style: none;
    color:black;
    margin-bottom: 0.5rem;
    
}
.fund__text-left li span{
    font-weight: 700;
    color:black;
}
.fund__text-right li{
    list-style:disc;
    color: black;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}
.fund__text-left .title, .fund__text-right .title{
    width: 70%;
    text-align: center;
}
.fund__text-left .title{
    padding-bottom: 1rem;
}
.fund__text-right .title{
    padding-bottom: 2rem;
}
.phone{
   margin-left: -4rem;
   height: 15rem;
   margin-top: 4rem;

}
.phone img{
    height: 100%;
}
@media screen and (max-width:960px){
    .fund__text-left, .fund__text-right li, .fund__text-right{
        font-size: 0.7rem;
    }
    .phone{
        margin-top: 1rem;
    }
}
@media screen and (max-width:960px){
    .fund{
        margin-left: 0;
        margin-right: 0;

    }
    .fund__text-left, .fund__text-right{
        width: 35%;
    }
    .fund__text-left li{
        font-size: 0.6rem;
}
}
.fund{
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.fund__text-left, .fund__text-right{
    width: 100%;
    margin-left: 10rem;
}
.phone{
    margin-bottom: 2rem;
    margin-left: 1rem;
}
.fund__text-right .title{
    padding-bottom: 1rem;
}
@media screen and (max-width:960px){
    .fund__text-left, .fund__text-right{
        margin-left: -1rem;
    }
    .phone{
        margin-left: -6rem;
    }
}