.feature{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5rem;
    display: flex;
}
.feature__list{
    height: 58vh;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}
.feature__list .item{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 3em;
    margin-right: 2em;
    margin-bottom: 1.5rem;
    color: white;
    height: 150px;
    width: 140px;
    border-radius: 20px;
    background-image: url('../../assets/geometric-cut-paper-black-background-topography-map-concept-vector.jpg');


}
.feature__list .item h5{
    color: var(--color-main)
}
.feature__list .item h6{
    line-height: 1rem;
    font-size: 0.5em;
}
@media screen and (max-width:1200px) {
   .feature{
    margin-left: 6em;
    margin-right: 0;

   }
   .feature__list{
    width: 100%
   }
   .feature__list .item{
    margin-left: 0.5rem;
   }
   .feature .img{
    margin-top: 1rem;
    width: 45%;
    
   }
   .feature .img img{
    width: 100% ;
    align-items: center;
    justify-self: center;
   }

}

@media screen and (max-width:960px) {
    .feature{
     margin-left: 0;
     margin-right: 0;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    .feature__list{
     width: 100%;
     padding: 0;
     justify-content: center;
    }
    .feature__list .item{
     width: 22%;
     height: 40%;
    }
    .feature .img{
     margin-top: 1rem;
     width: 45%;
     
    }
    .feature .img img{
     width: 100% ;
     align-items: center;
     justify-self: center;
    }
 
 }
@media screen and (max-width: 650px){
    .feature{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .feature__list{
        width: 100%;
        justify-content: center;
        padding: 0;
        margin: 0;
        margin-bottom: 8rem;
    }
   .feature__list .item{
        margin: 10px;
        padding: 0; 
        width:33%;
   }
   .feature__list .item h5{
    color: var(--color-main)
}
.feature__list .item h6{
    line-height: 1rem;
    font-size: 0.5em;
}
}