.about{
    margin-left: 20%;
    margin-right:20%;
    margin-top: 8%;
    color: black;
    display: flex;
    justify-content: space-between;
    font-family: 'poppins';
}
.images{
    width:35%;
    border-radius: 0px 20%;
    background-color: var(--color-main);
    
}
.images img{
    width: 100%;
    border-radius: 0px 20%;
    margin-left: 0.8rem;
}
.About__info{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.About__info h5{
    padding-left: 0.5rem;
    border-left: 4px var(--color-main) solid;
}
@media screen and (max-width: 1050px) {
    .About__info  p{
    	font-size: 0.8rem;     
    }
    .About__info h5{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 1050px){
    .About__info p{
        font-size: 0.7rem;
    }
    .About__info h5{
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 700px){
    .About__info p{
        font-size: 0.6rem;
    }
    .About__info h5{
        font-size: 0.5rem;
    }
}
@media screen and (max-width: 630px){
    .about{
        flex-direction: column;
        align-items:center ;
    }
    .about .images{
        margin-bottom: 3rem;
        width: 50%;
    }
    .About__info{
        width: 80%;
    }
    .About__info h3{
        font-size: 1.2rem;
    }
    .About__info p{
        font-size: 0.8rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .About__info h5{
        font-size: 0.7rem;
    }
}

