.footer{
    background-color: #F9F9F9;
    min-height: 30vh;
    padding: 5% 10%;
    color: black;
    font-family: 'poppins';
    display: flex;
}
.footer__logo{
    align-items: center;
    width: 20%;
    margin-top: 2rem;
}
.footer__logo img{
    width: 5rem;
    margin-left: 2rem;   
    align-self: center;
}
.footer .useful__links{
    margin-top: 1rem;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-left: 5rem;
    margin-right: 5rem;
    align-items: center;
    
}
.subscribe{
    margin-top: 2rem;
    width: 20%;
    font-weight: 500;
}
.links__About li, .links__Company li ,.links__Support li{
    font-size: 0.6rem;
    font-weight: 500;
    list-style:none;
    margin-top: 0.2rem;
}
.links__About h5, .links__Company h5 ,.links__Support h5{
    margin-bottom: 0.2rem;
}