.contact__header{
    background-image: url('../../assets/contact.jpg');
    background-color: #eb247e73;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    
}
.contact__header p a{
    color: white !important;
}
.contact__header button{
    color:var(--color-main);
    background-color: white;
}
.contact__text p{
    color: black;
}