.header{
    background-color: #F2F3FA;
    min-height:90vh;
    border-radius: 0 0 300px 0;
    box-shadow: 0px 4px 4px 0px grey;


}
.headerText{
    margin-top: 10rem;
    font-family: 'poppins';
    width: 45%;
}
.headerText h1{
    font-size: 2.6rem;
} 
.headerText p{
    color:black;
    font-weight: 600;
    width: 80%;
}
.headerText button{
    background: var(--color-main);
    color:white;
    padding: 0.8rem;
    border: none;
    border-radius: 50px;
    margin-top: -0.2rem;
    margin-top: 1rem;
    

}
.headerImage{
    margin-top: 4rem;
    width: 55%;
}
.headerImage img{
    width: 100%;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-left: 5em;
}
@media screen and (max-width: 1050px) {
    .content{
       
    }
    .headerText{
       margin-top: 8rem;
       margin-left: 2rem;
    }
    .headerText h1{
        font-size: 2rem;
    }
    .headerText {

    }
@media screen and (max-width: 840px) {
    .header{
        border-radius: 0;
    }
    .content{
       flex-direction: column-reverse;
       justify-content: center;
       align-items: center;
     
    }
    .headerText{
       align-items: center;
       justify-content: center;
       text-align: center;
       margin-top: 2rem;
       width: 80%;


    }
    .headerText h1{
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
        line-height: 2rem;
    }
    .headerText p{
        font-size: 0.8rem;
        width: 22rem;
        margin-top: 0.5rem;
    }
    .headerText button{
        align-self: center;
        margin-left: 2rem;
        padding: 4rem;
        width: 8rem;
    }
    .headerImage{
        margin-top: 1rem;
        align-self: center;
    }
    .headerText button{
        padding: 0.7rem;
        margin-right: 5rem;
    }
}
}
@media screen and (max-width: 550px){
    .header{
        height: 50vh ;
    }
    .content{
        margin-left: -8px;
        margin-top: 5rem;
    }
    .headerText{
        width: 90%;
        padding: 0;
    }
    .headerText h1{
        text-align: center;
        font-size: 1rem;
        margin-left: 50px;
        width: 70%;     
        line-height: 2rem;
    }
    .headerText p{
        font-size: 0.6rem;
        width: 70%;
        margin-left: 40px;
        margin-top: 0.5rem;
    }
    .headerText button{
       margin-left: 3rem;
    }
}
@media screen and (max-width: 390px){
    .header{
        max-height: 2%;
    }
    .headerText p{
        margin-left: 50px;
    }
    .headerText button{
        margin-left: 5rem;
    }
}
