*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'poppins';
    max-width: 100%;
}
/* 
body{
    color: var(--color-main);
} */
.primary{
    /* color: var(--color-main); */
}
a{
    color: unset;
    text-decoration: none;
}
.section__padding{
    padding: 4rem 6rem;
}
.section__margin{
    margin: 4rem 6rem;
}

@media screen and (max-width: 700px) {
    .section__margin{
        margin: 4rem;
    }
    .section__padding{
        padding: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .section__margin{
        margin: 4rem 2rem;
    }
    .section__padding{
        padding:  2rem;
    }
}



@keyframes spinner-1o3y8q {
   to {
      transform: rotate(360deg);
   }
}

.slide-top {
    margin-top: 100px;
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/**
 * ----------------------------------------
 * animation swing-top-fwd
 * ----------------------------------------
 */

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
