:root{
   --color-main:#EB247C 
}

/* add cutom font import */


body {
  font-family:chillax, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* custom reset */



/* TAILWIND CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities{
  .ring-red{
    --tw-ring-color: red;
  }
  .text-red{
    color:rgba(255,0,0,1)
  }
}