:root{
   --color-main:#EB247C 
}

/* add cutom font import */


body {
  font-family:chillax, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* custom reset */
.auth-overlay{
  background-image:  linear-gradient(#fff, rgba(255,255,255,.8)),
  url('./assets\curly-woman-great-mood-dancing-purple-wall.jpg');
  background-size:cover;
  background-position:center center;
  backround-repeat:no-repeat
}


/* TAILWIND CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .link{
    @apply text-primary hover:underline decoration-wavy
  }
  .primary{
    @apply text-primary underline decoration-wavy
  }
}

@layer utilities{
  .ring-red{
    --tw-ring-color: red;
  }
  .text-red{
    color:rgba(255,0,0,1)
  }
}